.logout-container{
  color:#fff;
}
.button-container button{
  margin-top: 10px;
  background-color: cornflowerblue;
  outline: none;
  width: 89px;
  height: 44px;
  color: #fff;
  border: 1px #000 solid;
  margin-left: 10px;
}

.button-container button:hover {
  border: 1px white solid;
  border-radius: 5px;
  transition: all .5s;
}

.logoutext{
  background-color: cornflowerblue;
  margin: 10px auto;
  padding: 3px;
  border-radius: 5px;
  width: 250px;
}
