.error-message{
  color:#fff;
  background-color: cornflowerblue;
  width: 200px;
  margin-top: 10px;
  border-radius: 10px;
  padding: 3px;
}

.signup{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signup input{
  width: 200px;
  height: 40px;
  font-size: 16px;
  margin-top: 10px;
}

.signup button{
  margin-top: 10px;
  background-color: cornflowerblue;
  outline: none;
  width: 89px;
  height: 44px;
  color: #fff;
  border: 1px #000 solid;
}


.signup button:hover {
  border: 1px white solid;
  border-radius: 5px;
  transition: all .5s
}
