.article{
  display: flex;
  z-index: 1;
  flex-direction: column;
  height: 425px;
  width:300px;
  margin-bottom: 10px;
  padding: 10px;
  opacity: 0.9;
  box-shadow: #000 1px 1px 1px 1px;
  border-radius: 20px;
}

.card-content{
  width:95%;
  height: 85%;
  color: #fff;
  text-shadow: #000 2px 2px 1px;
  font-size:14px;
}

.bottom-card-content{
  color:#000;
  padding-left:2px;
  font-size:15px;
  padding-top: 30px;
}

.top-of-card, .bottom-card{
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  font-weight: 100;
  flex:1;
}

.top-of-card{
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 3px;
}

.bottom-card{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 1;
  font-size: 20px;
  border-radius: 10px;
  background-color: #fff;
}
.middle-of-card{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(0,0,0,0.9);
  font-weight: 300;
}

.middle-of-card-img{
  height:30px;
  width: 30px;
  border:1px solid #000;
  background-color: #fff;
  border-radius: 5px;
}


.middle-of-card-link{
  text-decoration: underline;
  color: #fff;
  padding: 5px;
  font-family: serif;
}

.middle-of-card-button-container{
  display: flex;
  width: 50%;
  justify-content: space-around;
}

.favorite-button{
  background-color: cornflowerblue;
  outline: none;
  border-radius: 2px;
  border: 1px solid #000;
}

.favorite-button:hover, .unfavorite-button:hover{
  border-radius: 5px;
  border:1px solid #fff;
  transition: all .3s
}

.unfavorite-button{
  background-color: gold;
  outline: none;
  border-radius: 2px;
  border: 1px solid #000;
}

.con-img:active{
  background-color: #000;
}

.con-img:hover{
  background-color: #f15a49;
  transition: all .3s
}

.lib-img:hover{
  background-color: cornflowerblue;
  transition: all .3s
}

.card-background-container{
background-color: black;
padding: 3px;
border-radius: 5px;
opacity: 0.8;
}

.bottom-message{
  padding-top: 10px;
  font-size: 16px;
}

a:hover{
  color:cornflowerblue;
  transition: all .3s
}
